@model Strongly_typed.Models.Employee

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>@Model.empId</h2>
<h2>@Model.empName</h2>
<h2>@Model.designation</h2>
<h2>@Model.salary</h2>



